.internships-card {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 90%;
  border-radius: 5px;
  margin: auto;
  margin-bottom: 1em;
  margin-top: 1em;
  padding: 0.8em;
  line-height: 1em;
  line-height: 1em;
  text-align: left;
  border: 0.5px gray solid;
  min-height: 100px;
  height: auto;
}

.card-body{
  height: 150px;
 }

.internships-thumb-nail-img {
  padding: 0.5em;
  height: 120px;
  text-align: left;
}

.thumbnail-img-container {
  height: 120px;
  width: 200px;
  overflow: hidden;
}

.internships-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.internships-card > .card-label {
  font-size: 0.8em;
  font-weight: bold;
  color: dodgerblue;
}

@media screen and (min-width: 760px) {
  .internships-card {
    width: 60%;
  }
}
