nav {
  grid-area: nav;
}

nav ul {
  list-style: none;
  background-color: white;
  color: gray;
  text-align: center;
  padding: 0;
  margin: auto;
}

nav li {
  font-family: "Oswald", sans-serif;
  font-size: 1em;
  line-height: 40px;
  height: 40px;
  /* border-bottom: 1px solid #888; */
}

nav a {
  text-decoration: none;
  color: black;
  display: block;
  transition: 0.3s background-color;
}

nav a:hover {
  background-color: gray;
  color: white;
}

@media screen and (min-width: 700px) {
  nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1em;
  }

  nav li {
    display: inline-block;
    margin-right: 4px;
  }
}
