.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(100px, auto);
  margin: 0;
  grid-template-areas:
    "header header header header"
    "nav nav nav nav"
    "searchbox searchbox searchbox searchbox"
    "aside aside aside aside"
    "aside aside aside aside"
    "section section section section"
    "section section section section"
    "footer footer footer footer";
}

.grid-container > * {
}

header {
  grid-area: header;
}

nav {
  grid-area: nav;
}

#search-form {
  grid-area: searchbox;
}

aside {
  grid-area: aside;
}

section {
  grid-area: section;
}

footer {
  grid-area: footer;
  background: #333;
}

@media screen and (min-width: 760px) {
  .grid-container {
    grid-template-areas:
      "header header header header"
      "nav nav nav nav"
      "searchbox searchbox searchbox searchbox"
      "aside section section section"
      "aside section section section"
      "aside section section section"
      "footer footer footer footer";
  }
}
