.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(50px, auto);
  margin: 0;
  grid-template-areas:
    "header header header header"
    "nav nav nav nav"
    "searchbox searchbox searchbox searchbox"
    "section section section section"
    "section section section section"
    "section section section section"
    "section section section section"
    "footer footer footer footer";
}

.grid-container > * {
}

header {
  grid-area: header;
}

nav {
  grid-area: nav;
}

#search-form {
  grid-area: searchbox;
}

/* aside {
  grid-area: aside;
} */

section {
  grid-area: section;
}

footer {
  grid-area: footer;
}

@media screen and (min-width: 760px) {
  .grid-container {
    grid-template-areas:
      "header header header header"
      "nav nav nav nav"
      "searchbox searchbox searchbox searchbox"
      "section section section section"
      "section section section section"
      "section section section section"
      "section section section section"
      "footer footer footer footer";
  }
}
