.networking-view-container {
  font-family: Arial, Helvetica, sans-serif;
  color: dimgrey;
  display: block;
  box-sizing: border-box;
  width: 100%;
}

.networking-aside {
  box-sizing: border-box;
  display: block;
  padding: 20px;
  width: 100%;
}
.add-networking-link {
  color: blue;
}
@media screen and (min-width: 1100px) {
  .networking-view-container {
    display: block;
  }
  .networking-view-container > #search-form {
    width: 100%;
  }
  /* section {
    display: flex;
  } */
  .networking-aside {
    display: flex;
    flex-flow: wrap;
    width: 90%;
  }
}

@media screen and (min-width: 760px) {
  .networking-aside {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    width: 100%;
  }
}
